<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equive='X-UA-Compatible' content='IE=edge'>
    <title>Vote Now</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body class="page">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}">
    {% comment %} <form action="" method="POST" class="form">
        {% csrf_token %}
        
        <h3> {{form.question}} </h3>
        <button style = "background-color:green" type="submit" name="Like"> Like </button>
        <button style = "background-color:red" type="submit" name="Dislike">  Dislike </button>                  
    </form> {% endcomment %}
    <div class="submit-reaction p-3 mb-5">
        <span class="p-x3 mb-5" style="float:left;margin-left:10px">
        <form action="" method="post">
        {% csrf_token %}
        <h3> {{form.question}} </h3>
        <button  type="submit" name="Like" style = "background-color:green">Like</button>
        </form>
        </span>
        <span class="p-x3 mb-5" style="float:left;margin-top:60px;margin-left:-10px">
        <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="DisLike" style = "background-color:red"> DisLike</button>
        </form>
</span>
    </div>
</body>
</html>